<div class="container-fluid">
  <div class="row min-height-full">
    <div class="col-8 menu-listing pr-0" [ngClass]="{'col-12':!tableSelected}">
      <div class="row ml-0 mr-0 min-height-full">
        <div class="col-10 menu-show">
          <div class="d-flex justify-content-between border-bottom-1">
            <div >
              <h1 class="text-white text-center">Hotel Star Palace</h1>
              <p class="mb-0 text-white">{{date | date: 'medium'}}</p>
            </div>
            <div class="pt-1">
              <button type="button" class="btn btn-warning" [popover]="popTemplate"
                popoverTitle="Please select table..">Select table
              </button>
              <ng-template #popTemplate>
                <div class="select-table-wrap">
                  <div class="table-content" *ngFor="let table of restauranttables" (click)="selectTable(table)"
                    [ngClass]="{'table-content-active': table.occupied}">
                    <span class="text-center"> {{table.name | uppercase}} </span>
                  </div>
                </div>
              </ng-template>
            </div>
          </div>
          <div class="welcome-img" *ngIf="!menubtnClick">
            <img src="../../assets/imgs/welcome.gif" alt="welcome">
          </div>
          <div class="menu-detail mt-5">
            <div *ngFor="let foodItem of selectedFoodMenu">
              <div class="card">
                <img class="card-img-top" src="{{foodItem.img}}" alt="Card image">
                <div class="card-img-overlay p-0">
                  <h4 class="card-title">{{foodItem.name}} <small>{{foodItem.price | currency:"₹"}}</small></h4>
                  <button class="btn  add-btn" (click)="addToCart(foodItem)">Add</button>
                </div>
              </div>
            </div>
          </div>
        </div>
        <div class="col-2 pr-0 pl-0 right-border">
          <div class="tab-btn-wraps">
            <h4 class="text-center pt-2 pb-2 text-white">Menu</h4>
            <ng-container *ngFor="let foodCat of foodMenu">
              <button class="menu-tab-btn" (click)="onMenuSelect(foodCat)">{{foodCat.category | uppercase}}</button>
            </ng-container>
          </div>
        </div>
      </div>
    </div>
    <div class="col-4" [ngClass]="{'d-none':!tableSelected}">
      <div class="top-bar d-flex justify-content-between">
        <div class="text-white">Table: {{selectedTableName}}</div>
        <div>
          <p class="m-0 text-center text-white">My order is..</p>
        </div>
        <div><button (click)="openModal(template)" class="btn btn-warning">Pay Bill</button></div>
        <ng-template #template>
          <div class="modal-header">
            <div>
              <h4 class="modal-title pull-left">Hotel Star Palace </h4>
              <p class="mb-0">{{date | date: 'medium'}}</p>
            </div>
            <div>
              <button type="button" class="close pull-right" aria-label="Close" (click)="modalRef.hide()">
                <span aria-hidden="true">&times;</span>
              </button>
            </div>
          </div>
          <div class="modal-body">
            <table class="table">
              <thead>
                <tr>
                  <th>Name</th>
                  <th>Quantity</th>
                  <th>Price</th>
                  <th>Total</th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let food of selectedFoods">
                  <td> <span>{{food.name}}</span></td>
                  <td> <span>{{food.price}}</span></td>
                  <td>
                    <span>
                      <span>{{food.quantity}}</span>
                    </span>
                  </td>
                  <td>
                    <span>{{food.totalPrice}}</span>
                  </td>
                </tr>
                <tr>
                  <td colspan="3"><strong>Total</strong></td>
                  <td><strong>{{totalBillAmount}}</strong></td>
                </tr>
              </tbody>
            </table>
            <div class="order-final-btns float-right">
              <button (click)="printAndReset()">Print</button>
            </div>
          </div>
        </ng-template>
      </div>

      <table class="table text-white" *ngIf="selectedFoods.length > 0">
        <thead>
          <tr>
            <th>Remove</th>
            <th>Name</th>
            <th>Quantity</th>
            <th>Total</th>
          </tr>
        </thead>
        <tbody>
          <tr *ngFor="let food of selectedFoods;let i = index;">
            <td> <button class="remove-btn" (click)="removeFromCart(i)"><em class="fa fa-trash-o"></em></button></td>
            <td> <span>{{food.name}}</span></td>
            <td>
              <span>
                <button class="remove-btn" (click)="updateQty(food, 'minus')">-</button>
                <span class="d-inline-block pl-1 pr-2">{{food.quantity}}</span>
                <button class="add-btn" (click)="updateQty(food, 'plus')">+</button>
              </span>
            </td>
            <td>
              <span>{{food.totalPrice}}</span>
            </td>
          </tr>
          <tr>
            <td colspan="3"><strong>Total</strong></td>
            <td><strong>{{totalBillAmount}}</strong></td>
          </tr>
        </tbody>
      </table>
    </div>
  </div>
</div>
